* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #121214;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}


button {
    background-color: #5936a2;
    border: none;
    color: #FFFFFF;
    display: flex;
    width: 190px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    width: 342px;
    height: 72px;
    padding: 0 76px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5px;
    border-radius: 10px;
    box-shadow: #6f48c9 0px 0px 0px 0px;

}

button:hover {
    background-color: #6f48c9;
    opacity: 0.8;
}

button:active {
    background-color: #5936a2;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px)
}

input {
    width: 250px;
    height: 50px;
    padding: 0 16px;
    background: #202024;
    border: none;
    border-radius: 8px;
    color: #C4C4CC;
    font-size: 24px;
    
}

.inputs {
    display: flex;
    gap: 20px; 
}
.inputs input {
    flex: 1; 
}   
