* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #121214;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


button {
  background-color: #5936a2;
  border: none;
  color: #ffffff;
  width: 100%;
  max-width: 342px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #6f48c9;
  opacity: 0.9;
}

button:active {
  background-color: #5936a2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}


.inputs {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 520px;
}

input {
  flex: 1;
  height: 50px;
  padding: 0 16px;
  background: #202024;
  border: none;
  border-radius: 8px;
  color: #c4c4cc;
  font-size: 1.4rem;
}


@media (max-width: 480px) {
  .inputs {
    flex-direction: column;
    gap: 12px;
  }

  button {
    font-size: 1.6rem;
    height: 60px;
  }
}
